{% extends "layout.html" %}
{% set active_page = "/about" %}
{% block content %}
      <h2>About this tool</h2>
      <p>This tool is maintained by <a href="https://www.wikidata.org/wiki/User:MisterSynergy" title="User page of User:MisterSynergy at Wikidata">User:MisterSynergy</a>. See also: <a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Counter-Vandalism" title="Wikidata:WikiProject Counter-Vandalism">Wikidata:WikiProject Counter-Vandalism</a>.</p>
      <p>This tool is relatively new; functionality may thus be added at any time, or the existing content may be displayed differently. If you have suggestions for improvements, do not hesitate to ask on <a href="https://www.wikidata.org/wiki/User_talk:MisterSynergy" title="user talk page of User:MisterSynergy" target="_blank">my user talk page</a>.</p>
      <p>An older version of this tool was available at <a href="https://msbits.toolforge.org/wdcvn/index.php" title="Wikidata unpatrolled changes dashboard">msbits.toolforge.org/wdcvn/index.php</a>, which itself was an offspring of a PAWS script. This is a newly rewritten frontend for the same content.</p>
      <p>Main objectives of this tool, with no particular order:</p>
      <ul>
        <li>Make the patrolling process accessible via statistics. It is extremely helpful to understand the task of patrolling if there is continuous information available about the overall workload and its progress.</li>
        <li>Provide worklists for user- and item-based patrolling strategies. Since the patrol function effectively is revision-based and thus not ideally suited for Wikidata, other strategies need to be made possible with worklists.</li>
        <li>General filter options that some other tools also provide.</li>
      </ul>
{% endblock content %}