{% extends "layout.html" %}
{% set active_page = "/by_property" %}
{% block content %}
      <form action="{{ url_for('by_property') }}" method="post">
        <label for="prop">Property</label>:&nbsp;
        <select id="prop" name="prop">
{% for p in properties %}
	      <option value="{{ p }}"{% if p==prop %} selected="selected"{% endif %}>{{ p }}</option>
{% endfor %}
        </select>
        <input type="submit" value="select">
      </form>
{% if data is not none %}
      <h2>Unpatrolled claim changes for <span class="selector">{{ prop }}</span></h2>
      <p>These are all unpatrolled changes of claims with property <span class="selector">{{ prop }}</span>.</p>
      <p>ORES scores are highlighted here if above 0.9 (<span class="selector">ORES damaging</span>), or below 0.5 (<span class="selector">ORES goodfaith</span>).</p>
      <table class="data">
        <thead>
          <tr>
            <th>item</th>
            <th colspan="2">action</th>
            <th>timestamp</th>
            <th>user</th>
            <th>ORES damaging</th>
            <th>ORES goodfaith</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
{% for tpl in data.itertuples() %}
          <tr>
            <td><a href="{{ tpl.item_link }}" target="_blank">{{ tpl.item }}</a></td>
            <td>{{ tpl.editsummary_magic_action }}</td>
            <td></td>
            <td>{{ tpl.timestamp_formatted }}</td>
            <td><a href="{{ tpl.contributions_link }}" target="_blank">{{ tpl.username }}</a></td>
            <td{% if tpl.oresc_damaging > 0.9 %} class="ores_highlight"{% endif %}>{{ tpl.oresc_damaging }}</td>
            <td{% if tpl.oresc_goodfaith < 0.5 %} class="ores_highlight"{% endif %}>{{ tpl.oresc_goodfaith }}</td>
            <td><a href="{{ tpl.diff_link }}" target="_blank" class="button">patrol in Wikidata</a><!--{{ tpl.rc_this_oldid }}--></td>
          </tr>
{% endfor %}
        </tbody>
      </table>
{% endif %}
{% endblock content %}